<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogermcs.dagger2metrics"
    android:versionCode="1"
    android:versionName="1.0">

    <application>

        <activity
            android:name=".internal.ui.MetricsActivity"
            android:icon="@mipmap/__ic_launcher_d2m"
            android:label="@string/dagger2metrics_name"
            android:theme="@style/Dagger2Metrics.Base" />
        <activity
            android:name=".internal.ui.AboutMetricsActivity"
            android:label="@string/dagger2metrics_about_title"
            android:theme="@style/Dagger2Metrics.Base" />
    </application>
</manifest>
